@import '../../../../../assets/variables.scss';

.main-container {
    display: flex;
    flex-direction: column;
    width: $hundred-percent;
    height: $hundred-percent;
    padding: 0px;
    margin: 0px;

    header {
        width: $hundred-percent;
        height: $header-height;
    }
    .content-container {
        display: flex;
        width: $hundred-percent;
        height: calc(100% - 130px);
        flex-direction: row;
        overflow: auto;
        #side-filter {
            width: 30%;
            height: $hundred-percent;
            overflow: auto;
            
        }
        
        #list-container {
            background-color: $card-container-bckgrnd-color;
            width: 70%;
            height: $hundred-percent;
            overflow: overlay;
        }
    }



}

@media screen and (max-width: 800px) {
    header {
        display: none;
    }
    .content-container {
        display: block;
        width: 100% !important;
        height: 100% !important;
        #list-container {
            width: 100% !important;
        }

    }

    .hide {
        display: none !important;    
    }
    .show {
        display: inline !important; 
        position: absolute;
        z-index: 2;  

    }
}


