.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #424250;
    color: #005d57;
    .span {
        width: 40%;
    }
}