@import '../../../assets/variables.scss';

.container {
    width: $hundred-percent;
    height: $hundred-percent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $header-bckgrnd-color;
    color: $header-font-color;
    font-family: $header-font-family;
    font-size: $header-title-font-size;
}