

$hundred-percent: 100%;
$open-sans-font-family:  "Open Sans",sans-serif;
$box-shadow-color: rgba(46,61,73,.2);
$white-color: white;
$font-weight-bold: 600;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-big: 18px;
$border-radius: 5px;

//Page Header
$header-bckgrnd-color:  #020d1b;
$header-font-color: $white-color;
$header-font-family: 'Arimo', sans-serif;
$header-title-font-size: 30px;


//Page-Not-Found
$page-not-found-bckgrnd-color:  beige;
$page-not-found-font-color: #a08845;
$page-not-found-title-font-size: 40px;
$page-not-found-text-font-size: 50px;
$page-not-found-text-font-color: #dd6436;

//course-management
$header-height: 130px;

//card-container
$card-container-header-border-color: $white-color;
$card-container-bckgrnd-color:  #005d57;



//card-item
$course-item-bckgrnd-color:  $white-color;
$card-upper-bottom-border-color: $box-shadow-color;
$card-upper-primary-header-color: #5d4545;
$card-upper-sub-header-color: #86797b;
$card-upper-sub-details-color: #4fa2a6;
$card-expansion-bckgrnd-color:  #ededed4d;
$card-expansion-font-color:  #516f53;







