@import '../../../assets/variables.scss';

.container {
    width: $hundred-percent;
    height: $hundred-percent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $page-not-found-bckgrnd-color;
    font-size:$page-not-found-title-font-size;
    color: $page-not-found-font-color;
    #fourOfour {
        font-size: $page-not-found-text-font-size;
        padding: 40px;
        color: $page-not-found-text-font-color;
    }
}

