.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: beige;
    font-size: 40px;
    color: #a08845;
    #fourOfour {
        font-size: 50px;
        padding: 40px;
        color: #dd6436;
    }
}

