.course-item {
    font-family: "Open Sans",sans-serif;
    width: 70%;
    display: flex;
    flex-direction: column;
    border: none;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
    padding: 15px;
    text-align: left;
    position: relative;
    background: rgb(9, 35, 68);
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    border-radius: .375rem;
    transition: .3s;
    .card_upper {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        border-bottom: 1px solid #dbe2e8;
        .card_text {
            display: flex;
            align-items: flex-start;
            flex-grow: 1;
            flex-direction: column;
            font-size: 16px;
            font-family: 'Open Sans', Arial, sans-serif; 
            .primary-subject {
                color: #796c6c;;
                font-weight: 600;
                font-size: 14px;
            }
            .primary-card-heading a {
                text-decoration: none;
                display: block;
                color: white;
                font-size: 18px;
                font-weight: 600;
            }
            .card-upper-subdetails {
                width: 100%;
                display: flex;
                justify-content: space-between;
                color: #4fa2a6;;
                font-size: 16px;
                padding: 30px 10px 10px 0;
                .provider {

                }
                .subdetails-icon {

                }
            }
        }
        .media {
            background-color: azure;
            width: 30%;
            height: 40px;
            text-align: center;
            padding-top: 7px;
            box-sizing: border-box;
            border: beige 1px solid;
            border-radius: 5px;
            a {
                color: #005d57;
            }
        }
    
    }
    .card_lower {
        padding-top: 5px;
        .expander {
            display: flex;
            flex-direction: row;
            cursor: pointer;
            .action_icon {
                img {
                    width: 14px;
                    height: 14px;
                }
                margin-right: 10px;
            }
            .expansion-text {
                color: #608d8b;
                padding-bottom: 5px;
            }

        }
        .card_expansion {
            background-color: #5a63894d;
            color: #b1c3b2;
            display: flex;
            flex-direction: column;
            padding: 20px;
            border-radius: 5px;
            .card-lower-field {
                // font-weight: 400;
            }
        }
    }

}

a {
    text-decoration: none;
}