@import '../../../../../assets/variables.scss';

.course-item {
    font-family: $open-sans-font-family;
    // width: 70%;
    display: flex;
    flex-direction: column;
    border: none;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
    padding: 15px;
    text-align: left;
    position: relative;
    background: $course-item-bckgrnd-color;
    box-shadow: 5px 5px 25px 0 $box-shadow-color;
    border-radius: .375rem;
    transition: .3s;
    .card_upper {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        border-bottom: 1px solid $card-upper-bottom-border-color;
        .card_text {
            display: flex;
            align-items: flex-start;
            flex-grow: 1;
            flex-direction: column;
            font-size: $font-size-medium;
            font-family: $open-sans-font-family; 
            .primary-subject {
                color: $card-upper-sub-header-color;
                font-weight: $font-weight-bold;
                font-size: $font-size-small;
            }
            .primary-card-heading a {
                text-decoration: none;
                display: block;
                color: $card-upper-primary-header-color;
                font-size: $font-size-big;
                font-weight: $font-weight-bold;
            }
            .card-upper-subdetails {
                width: $hundred-percent;
                display: flex;
                justify-content: space-between;
                color: $card-upper-sub-details-color;
                font-size: $font-size-medium;
                padding: 30px 10px 10px 0;
            }
        }
        .media {
            background-color: azure;
            width: 30%;
            height: 40px;
            text-align: center;
            padding-top: 7px;
            box-sizing: border-box;
            border: beige 1px solid;
            border-radius: $border-radius;
            a {
                color: #005d57;
            }
        }
    
    }
    .card_lower {
        padding-top: 10px;
        .expander {
            display: flex;
            flex-direction: row;
            cursor: pointer;
            .action_icon {
                img {
                    width: $font-size-small;
                    height: $font-size-small;
                }
                margin-right: 10px;
            }
            .expansion-text {
                color: #608d8b;
                padding-bottom: 5px;
            }

        }
        .card_expansion {
            background-color: $card-expansion-bckgrnd-color;
            color: $card-expansion-font-color;
            display: flex;
            flex-direction: column;
            padding: 20px;
            border-radius: $border-radius;
        }
    }

}

a {
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .course-item {
        width: 650px !important;
        }
    }

@media screen and (max-width: 950px) {
    .course-item {
        width: 500px;
        }
    }

@media screen and (min-width: 950px) {
    .course-item {
        width: 600px;
        }
    }
        
@media screen and (min-width: 1111px) {
    .course-item {
        width: 700px;
    }
  }


