<article class="course-item">

    <div class="card_upper">
        <div class="card_text">
            <div class="primary-subject">{{parentSubject}}</div>
            <div class="primary-card-heading course-name"><a target="_blank" href="{{courseURL}}">{{name}}</a></div>
            <div class="card-upper-subdetails">
              <div class="provider">
                  <div class="subdetails-icon"><img src="{{providerIcon}}"></div>
                  <div class="provider-text">{{provider}}</div>
                </div>
              <div class="university">
                  <div class="subdetails-icon"><img src="{{institutionIcon}}"></div>
                  <div  class="uni-list-container">
                    <div *ngFor="let university of universities">{{university}}</div>
                  </div>
              </div>
            </div>
        </div>
        <div class="media">
         <a target="_blank" href="{{videoUrl}}">Watch video</a>
        </div>
    </div>
    <div class="card_lower">
      <div  (mouseenter)="toggleCard()" (mouseleave)="toggleCard()" (click)="toggleCard()" class="expander">
        <span *ngIf="!expandedCard" class="action_icon expand"><img src="{{expandIcon}}"></span>
        <span *ngIf="expandedCard" class="action_icon minimize"><img src="{{minimizeIcon}}"></span>
        <div class="expansion-text">Course Details</div>
      </div>
      <div *ngIf="expandedCard" class="card_expansion">
          <div class="card-lower-field">{{"Course ID : "+cid}}</div>
          <div class="card-lower-field">{{parentSubject+ " > " + childSubject}}</div>
          <div class="card-lower-field">{{"Session Starts : "+nextSessionDate}}</div>
          <div class="card-lower-field">{{"Course Duration : "+( length ? length : "N/A" ) + ( length ? " Months" : "" ) }}</div>
      </div>
    </div>



</article> 


