
//Material Theme Colors
$mat-thm-900: #0b1325;
$mat-thm-700: #18253d;
$mat-thm-500: #21314d;
$mat-thm-300: #646f82;
$mat-thm-bg: #F8F8F8;

//Material Theme Accent Colors
$mat-thm-acnt-900: #1B5E20;
$mat-thm-acnt-700: #388E3C;
$mat-thm-acnt-300: #81C784;

//REZ1 theme base styles 

$thm-font: 'Open Sans', Arial, sans-serif; 
$thm-font-color: #4a4b4d;
$thm-content-font-size: 1em;
$thm-content-font-color: #828282;
$thm-caption-font-size: .7em;
$thm-header-font-color: #202124;
$thm-subheader-font-color: #727A8C;
$thm-header-hfont-color: $mat-thm-900;
$thm-gencontent-font-color: #828282; //#5f6368;


// Top Navigation
$topnav-font: 'Open Sans', Arial, sans-serif; ; 
$topnav-font-size: .8em; //16px;
$topnav-font-color: #FFFFFF;
$topnav-font-hover-color: $mat-thm-300;
$topnav-font-active-color: #F2994A;


//Cover Floating Sidebar Navigation
$sb-menu-bg: #1976D2;
$sb-menu-font: Helvetica, sans-serif;
$sb-menu-font-color: #ffffff;
$sb-menu-font-color-hover: $mat-thm-300;
$sb-menu-font-size: .8em; //16px;
$sb-submenu-font-size: .9em;

//Content Sidebar Navigation
$csbnav-bg: #efefef;
$csbnav-font: 'Open Sans', Arial, sans-serif; 
$csbnav-font-size: .95em;
$csbnav-font-color: $mat-thm-900;
$csbnav-hover-color: $thm-header-font-color;
$csbnav-hover-bg: #d6e6f3;
$csbnav-selected-color: #ffffff; //$thm-header-font-color;
$csbnav-selected-bg: #d6e6f3;



//List
$list-bg: #ffffff;
$list-header-font-size: 1.1em;
$list-header-font-color: $thm-header-font-color;
$list-subheader-font-size: .8em;
$list-subheader-font-color: $thm-subheader-font-color;
$list-content-font-size: $thm-content-font-size;
$list-content-font-color: $thm-content-font-color;



