<section class="course-list-container">
  <header>
      <article class="counter-container">
        <span (click)="expandFilterOptions()" class="hamburger" id="expand-filter-icon">&#9776;</span>
        <span>Showing {{(courseData | courseFilter : filterOptions)?.length}} of {{totalRecordCount}}</span>
      </article>
      <section class="sort-container">
        <div class="next-session">
          <div class="sortFieldText">Upcoming</div>
          <span *ngIf="sessionAscending" (click)="toggleSessionSort()" class="sort-button"><img src="{{upArrowIcon}}"></span>
          <span *ngIf="!sessionAscending" (click)="toggleSessionSort()" class="sort-button"><img src="{{downArrowIcon}}"></span>
        </div>
        <div class="length">
            <div class="sortFieldText">Duration</div>
            <span *ngIf="durationAscending" (click)="toggleLengthSort()" class="sort-button"><img src="{{upArrowIcon}}"></span>
            <span *ngIf="!durationAscending" (click)="toggleLengthSort()" class="sort-button"><img src="{{downArrowIcon}}"></span>
        </div>
      </section>
    </header>
  <app-course-items *ngFor="let course of courseData | courseFilter : filterOptions | courseSort : sortObject" [item]=course></app-course-items>
</section>
