@import '../../../../../assets/variables.scss';

.course-list-container {
    width: 100%;
    height: 100%;
    display: flex;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    flex-direction: column;
    padding: 30px 0px 0px 30px;
    box-sizing: border-box;
    // background-color: #005d57;
    header {
        padding: 10px 0px 10px 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin-bottom: 25px;
        border: #b1a1a3 2px solid;
        border-radius: 5px;
        .counter-container {
            font-family: 'Open Sans', Arial, sans-serif; 
            color: white;
            font-weight: 600;
        }
        .sort-container {
            display: flex;
            flex-direction: row;
            padding-right: 20px;
            .sortFieldText {
                color: aliceblue;
                font-size: 14px;
                margin-right: 10px;
            }
            .next-session {
                display: flex;
                padding: 0px 5px;
            }
            .length {
                display: flex;
                padding: 0px 5px;
            }
        }
    }
}

