@import '../../../../../assets/variables.scss';

.course-list-container {
    width: $hundred-percent;
    height: $hundred-percent;
    display: flex;
    font-family: $open-sans-font-family;
    font-weight: $font-weight-bold;
    flex-direction: column;
    padding: 10px 0px 0px 30px;
    box-sizing: border-box;

    header {
        padding: 10px 0px 10px 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin-bottom: 15px;
        // position: relative;
        // z-index: 1;
        border-bottom: $card-container-header-border-color 2px solid;
        .counter-container {
            font-family: 'Open Sans', Arial, sans-serif; 
            color: $white-color;
            font-weight: $font-weight-bold;
            .hamburger {
                display: none;
                font-size:  20px;
                margin-right: 10px;
                color: rgb(255, 255, 255);
                cursor: pointer;
             }
        }
        .sort-container {
            display: flex;
            flex-direction: row;
            padding-right: 20px;
            .sort-button {
                cursor: pointer;
            }
            .sortFieldText {
                color: aliceblue;
                font-size: $font-size-small;
                margin-right: 10px;
            }
            .next-session {
                display: flex;
                padding: 0px 5px;
            }
            .length {
                display: flex;
                padding: 0px 5px;
            }
        }
    }
}

@media screen and (max-width: 870px) {
    .hamburger {
        display: inline !important;
     }
}
